.body{
    padding: 20px;
    background-color: rgb(254, 239, 217);
    height: 100%;
    font-weight: 500;
}
 html{
    background-color: rgb(254, 239, 217);
 }

/* HAVBAR */

.active_nav {
  border-radius: 10px;
  border: 2px dashed rgb(101, 101, 101);
}

/* New Post Modal */
.modal-content {
  background-color: rgb(159 219 233)!important;
}

.modal-header {
  border-bottom: 1px solid #6e50da!important;
}

.modal {
  top: 18%!important;
}

.nav-link:hover {
  cursor: pointer;
}

#text_new_post {
  min-height: 150px!important;
  max-height: 300px!important;
  overflow:auto!important;
}

#btn_new_post {
  float: right;
  width: 90px;
}

/* POST */
.post{
    border: 3px solid rgba(0, 0, 255, .2);
    box-shadow: 4px 3px 1px 2px rgba(0, 0, 255, .2);
    padding: 10px 30px;
    width: 60%;
    margin: 10px auto;
    border-radius: 10px;
    background-color: rgb(255, 233, 200);
}

.post .username a {
  color:rgb(179, 80, 5);
  font-size: 1.3em;
  font-weight: 600;
  text-decoration: none;
}

.post .username a:hover {
  text-decoration: underline;
}

.post .username {
  float: left;
}


.post .datetime {
  color: gray;
  float: right;
  font-size: smaller;
}

.post .heart_div {
  position: relative;
  top: -5px;
  float: right;
}

.post .edit_div {
  float: left;
}

.post .end {
  height: 1.2em;
}

.post .edit_div a {
  padding-left: 5px;
  color:rgba(97, 65, 10, 0.605);
}

.post .edit_div a:hover {
  color:rgba(97, 65, 10);
  cursor: pointer;
}

.post .text .textarea, #text_new_post {
    margin: 0.4em 0;
    white-space: pre-wrap;
    width: 100%;
    background-color: rgb(254, 246, 235);
    border: none;
    display: block;
    overflow: hidden;
    min-height: 30px;
    line-height: 20px;
    padding: 7px;
    border-radius: 5px;
}

.post .text .textarea:focus, #text_new_post:focus {
  outline:none;
}

.post .text .textarea[contenteditable] {
  background-color: rgb(247, 218, 178);
}



/* LIKE */
.heart::before {
    content: '\2665';
    top:3px;
    position: relative;
    font-size: 1.5em;
    margin:0 2px;
  }

  .heart_liked::before {
    color: red;
  }

.heart_unliked::before {
    color: grey;
}


/* PAGINATOR */
#pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.page-link {
    color: #e8e7e7 !important;
    background-color: #4f4f4f !important;
    border: 1px solid #262626 !important;
}
.page-link:hover {
        color: #fff !important;
        background-color: #9f67b9 !important;
}
.page-item.active .page-link {
    background-color: #4f075e !important;
}

.disabled .page-link {
  color: #8e8d8d !important;
}



/* USERPAGE AND FOLLOWERS*/
#userpage_userpage {
  color:rgb(69, 46, 30);
  font-size: 2.5em;
  font-weight: 600;
  float: left;
}

#user_info {
  width: 60%;
  align-items: center;
  display:flex;
  margin: auto;
  margin-bottom: 20px;
  justify-content: space-between;
}

#follow_info {
  color:rgb(69, 46, 30);
  font-size: 1.3em;
  height: 2.3em;
  display: flex;
  align-items: flex-end;
}

#follow_info div{
  float: left;
  margin-left: 50px;
}

#follow_btn {
  padding: 6px 6px;
  width: 80px;
}


/* Nothing here */
#nothing_here{
  margin-top: 7%;
  text-align: center;
}



/* Login and Register */
.container-login {
    width: 60%;
    margin: auto;
    padding-top: 7%;
}

.container-login .btn{
    width: 120px;
    margin: 0 10px;
}

.login-end {
    margin-top: 10%;
}

.div-error {
    color: rgb(254, 239, 217);
    font-size: 2em;
    animation: error 2s ease-in 1;
}

@keyframes error
{
    from {color:rgb(187, 0, 25)}
    to {color: rgb(254, 239, 217)}
}

.center {
    display: flex;
    justify-content:space-evenly;
}